version: '2'
services:
  slackbot:
    build:
      context: .
      dockerfile: ./compose/Dockerfile
    restart: always
    container_name: irkbot-listener
    volumes:
      - ./html/screenshots:/app/html/screenshots
      - ./log/bot:/app/log/bot
    environment:
      - TEST=true

  nginx:
    image: nginx:alpine
    ports:
      - "5784:80"
    restart: always
    container_name: irkbot-nginx
    volumes:
      - ./html:/usr/share/nginx/html
      - ./log/nginx:/var/log/nginx
