version: '2'
services:
  slackbot:
    build:
      context: .
      dockerfile: ./compose/Dockerfile
    restart: always
    container_name: irkbot-listener
    volumes:
      - /mnt/irkbot/nginx/html:/var/www/html
      - /mnt/irkbot/log/bot:/var/log/irk

  nginx:
    image: nginx:alpine
    ports:
      - "5784:80"
    restart: always
    container_name: irkbot-nginx
    volumes:
      - /mnt/irkbot/nginx/html:/usr/share/nginx/html
      - /mnt/irkbot/log/nginx:/var/log/nginx
